<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>GreenRun</title>

{{!-- bootstrap --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{{!-- styles --}}
<link rel="stylesheet" type="text/css" href="/styles/style.css"/>

{{!-- <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"> --}}

{{!-- jquery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{{!-- bootstrap java --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 </head>
 <body>
   

   {{{body}}}


<footer>
  <p>Created by Katelyn Fenchel <span>&amp;</span> Chris Swormstedt || <a class="git" href="https://github.com/cswormstedt/GreenRun">GreenRun GitHub</a> || Climacons by Adam Whitcroft || Weather from Dark Sky API</p>
</footer>
<script src="/js/app.js"></script>
 </body>
</html>