<header class="header">
		<div class="header-container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-sx-10">
						<div class="circle"></div>
						<h1 class="title">Green Run</h1>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-sx-6">
					<h2 class="hello"> {{ username }} profile</h2>
					{{#each favoriteMountainArray}}
					<p>{{this.name}}</p>
					{{/each}}


				</div>
			</div>
		</div>
</header>
<a href="/home">Settings</a><br>
<a href="/user/logout">LOGOUT</a>

